{% extends 'base.html.twig' %}

{% block title %}Gestion articles - {{ parent() }}{% endblock %}

{% block body %}
<h1>Gestion Activités</h1>
<a href="{{ path('app_admin_achievement_edit') }}" class="btn btn-outline-primary">Ajouter un Challenge</a>
<table class="table table-striped mt-2">
    <thead class="thead-dark">
        <tr class="table-dark">
            <th>id</th>
            <th>id catégorie</th>
            <th>name</th>
            <th>description</th>
            <th>Modification</th>
        </tr>
    </thead>
    {% for achievement in achievements %}
        <tr>
            <td>{{ achievement.id }}</td>
            <td>{{ achievement.category.getId() }}</td>
            <td>{{ achievement.name }}</td>
            <td>{{ achievement.description }}</td>
            <td>
                <a href="{{ path('app_admin_achievement_edit', {'id': achievement.id}) }}" class="btn btn-edit-admin">Modifier</a>
                <a href="{{ path('app_admin_achievement_delte', {'id': achievement.id}) }}" class="btn btn-danger">Suprimer</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
