{% extends 'base.html.twig' %}

{% block title %}{{ category.name ~ ' - ' ~ parent() }}{% endblock %}

{% block body %}
    <h1 class="mt-5 border-bottom pb-3">{{ category.name }}</h1>
    <a href="{{ path('app_achievement_index') }}" class="btn btn-outline-secondary btn-sm mt-5">
        Retour à l'accueil
    </a>
    {% if category.description is not null %}
        <div class="mb-5">
            <h2 class="h2-category">Description</h2>
            <img class="img-thumbnail img-category mr-2" src="http://via.placeholder.com/300x150" alt="">
            <p class="pt-3">
                <strong class="category-description">{{ category.description }}</strong>
            </p>
        </div>
    {% endif %}
    <br>
    <br>
    <h2 class="h2-category">Activités</h2>
    <div class="row">
        {% for achievement in achievements %}
            {{ render(controller('App\\Controller\\AchievementController::card', {'achievement' : achievement})) }}
        {% else %}
            <p>Aucune activité associée</p>
        {% endfor %}
    </div>



{% endblock %}
