{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-6 offset-6">
            <h2>Inscription</h2>
            {{ form_start(form) }}
            {{ form_row(form.pseudo) }}
            <a href="{{ path('app_index_isusernameavailable', {'pseudo': "user"}) }}" id="is-available">Vérifier la disponibilité</a>
            <span id="availability"></span>
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            <button class="btn btn-success" type="submit">S'inscrire</button>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/usernameAvailability.js') }}"></script>
{% endblock %}

