{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/index.css') }}">
{% endblock %}

{% block body %}
    <div class="row mt-5 align-items-center">
        <div id="pitch" class="col-12 col-lg-8 mt-lg-5">
            <h1>Un pas après l'autre</h1>
            <p>
                Inscrivez-vous pour compléter toutes sortes de tâches, de la plus anodine à la plus épuisante.
                Choisissez vos objectifs, à votre rythme, pour ne pas perdre la tête pendant le confinement!
            </p>
            <div class="row">
                {% for achievement in achievements %}
                    {{ render(controller('App\\Controller\\AchievementController::card', {'achievement' : achievement})) }}
                {% endfor %}
            </div>
        </div>
        <div id="registration-form" class="col-12 col-lg-4 mt-lg-5">
            <h2>Inscription</h2>
            {{ form_start(form) }}
            {{ form_row(form.pseudo) }}
            <a href="{{ path('app_index_isusernameavailable', {'pseudo': "user"}) }}" id="is-available">Vérifier la disponibilité</a>
            <span id="availability"></span>
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            <button class="btn btn-success w-100" type="submit">S'inscrire</button>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/usernameAvailability.js') }}"></script>
{% endblock %}

