{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_achievement_index') }}" class="btn btn-outline-primary">
        Retour vers l'accueil
    </a>
    <br><br>
    <h1>{{ achievement.name }}</h1>
    <br><br>
    <h3>Description du défi</h3>
    <br>
    <img src="http://via.placeholder.com/300x250" alt="image de description" class="">
    <br><br>
    <p>{{ achievement.description }}</p>
    <a href="{{ path('app_achievement_processachievement', {"id" : achievement.id}) }}" class="btn {{ status.class }}">
        {{ status.message }}
    </a>
{% endblock %}

{% block title %}

{% endblock %}

