{% extends 'base.html.twig' %}

{% block title %}Activités - {{ parent() }} {% endblock %}

{% block body %}
    <h1>Relève le défi</h1>
    <br>


    <h2>
        Rentabilise ton temps durant le confinement
    </h2>
    <p style="font-size: small" class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Consequatur doloribus est excepturi nam natus porro possimus quas voluptas. Harum, perspiciatis voluptatem.
        Aperiam autem dolorum ea eligendi esse est excepturi expedita id magni nemo,
        nesciunt non nostrum officiis pariatur quo rerum sunt? Distinctio earum incidunt laudantium molestias optio
        placeat, quam unde?<br>
        {#Plutôt que de faire des liens vers les catégories faire un filtre des achievements par catégories en sidebar
        à côter des cards, et faire sa et la pagination en ajax pour qu'il n'y ai pas 10 000 rechargement de page si le
        temps le permet. Etje sais pas si c'est bonne pratique de bombarder beaucoup d'ajax sur une page#}
       {#Découvrez nos différents défi à partir de leur catégorie : <br><br>
        {% for category in categories %}
            <a href="{{ path('app_category_index', {'id': category.id}) }}" class="btn btn-outline-primary">
                {{ category.name }}
            </a>
        {% endfor %}#}
    </p>


    <br>
    <h2 class="mb-3">Découvre les défi que tu peux relever :</h2>
    <div class="row mb-3">
        <div class="col-3">
            {{ form_start(form) }}
            {{ form_row(form.category) }}

        </div>
        <button type="submit" class="btn btn-info btn-search">Rechercher</button>
            {{ form_end(form) }}
    </div>
    <div class="row">
        {% for achievement in achievements %}
            {{ render(controller('App\\Controller\\AchievementController::card', {'achievement' : achievement})) }}
        {% endfor %}
        <div class="col-12 d-flex justify-content-center">
            <span>
                {{ knp_pagination_render(achievements,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
            </span>
        </div>
    </div>


{% endblock %}
