{% extends 'base.html.twig' %}

{% block title %}Paramètres - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/settings.css') }}">
{% endblock %}
{% block body %}
    <h1 class="my-5">Paramètres</h1>
    <div class="card mt-5">
        <div class="card-body row">
            <div class="col-3 col-lg-2">
                Pseudo
            </div>
            <div class="col-6 col-lg-4 col-xl-3">
                <span class="currentField">{{ user.username }}</span>
                <div class="newField d-none">
                    {{ form_start(pseudoForm) }}
                    {{ form_row(pseudoForm.pseudo) }}
                    <button class="btn btn-success" type="submit">Enregistrer</button>
                    {{ form_end(pseudoForm) }}
                </div>
            </div>
            <div class="col-1 offset-lg-4 offset-xl-6">
                <button class="editField btn btn-secondary btn-sm">Modifier</button>
            </div>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-body row">
            <div class="col-3 col-lg-2">
                Email
            </div>
            <div class="col-6 col-lg-4 col-xl-3">
                <span class="currentField">{{ user.email }}</span>
                <div class="newField d-none">
                    {{ form_start(emailForm) }}
                    {{ form_row(emailForm.email) }}
                    <button class="btn btn-success" type="submit">Enregistrer</button>
                    {{ form_end(emailForm) }}
                </div>
            </div>
            <div class="col-1 offset-lg-4 offset-xl-6">
                <button class="editField btn btn-secondary btn-sm">Modifier</button>
            </div>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-body row">
            <div class="col-3 col-lg-2">
                Mot de passe
            </div>
            <div class="col-6 col-lg-4 col-xl-3">
                <span class="currentField">********************</span>
                <div class="newField d-none">
                    {{ form_start(passwordForm) }}
                    <div class="form-group">
                        <label class="required" for="currentPassword">Mot de passe actuel</label>
                        <input type="password" id="currentPassword" name="currentPassword"
                               class="form-control" required="required">
                    </div>
                    {{ form_row(passwordForm.plainPassword) }}
                    <button class="btn btn-success" type="submit">Enregistrer</button>
                    {{ form_end(passwordForm) }}
                </div>
            </div>
            <div class="col-1 offset-lg-4 offset-xl-6">
                <button class="editField btn btn-secondary btn-sm">Modifier</button>
            </div>
        </div>
    </div>

    <a href="{{ path('app_settings_deleteaccount') }}" class="mt-5 btn btn-danger float-right">Supprimer votre compte</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/settings.js') }}"></script>
{% endblock %}
