{% extends 'Admin/base.html.twig' %}

{% block title %}Gestion catégorie - {{ parent() }}{% endblock %}
{% block body %}
    <div class="row row-edit-form">
        <div class="col-5">
            <h1  class="mb-4">Enregistrement Catégories :</h1>
            <div class="edit-form">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.color) }}
                <div class="text-right">
                    <button type="submit" class="btn btn-enregistrement">
                        Enregistrer
                    </button>
                    <a href="{{ path('app_admin_category_index') }}" class="btn btn-admin-retour">
                        Retour
                    </a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-5 offset-2">
            <h2 class="text-center">Informations de l'admin</h2>
            <div class="d-flex justify-content-center">
                <span>Pseudo : <span class="admin-pseudo">{{ user.username }}</span></span>
            </div>
            <div class="d-flex justify-content-center">
                <img class="img-admin img-thumbnail" src="http://via.placeholder.com/300x250" alt="...">
            </div>
        </div>
    </div>


{% endblock %}



