{% extends 'Admin/base.html.twig' %}

{% block title %}Gestion catégories - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion Categorie</h1>
        <a href="{{ path('app_admin_category_edit') }}" class="btn btn-outline-primary mb3">
            Créer une catégorie
        </a>
        <table class="table table-striped mt-2">
            <thead class="thead-dark">
                <tr class="table-dark ">
                    <th>id</th>
                    <th>name</th>
                    <th>description</th>
                    <th>Modification</th>
                </tr>
            </thead>
            {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td><a href="{{ path('app_admin_category_edit', {'id': category.id }) }}" class="btn btn-primary">
                        Modifier
                    </a>
                    <a href="{{ path('app_admin_category_delete', {'id': category.id }) }}" class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}
