<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Un pas après l'autre{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('style/style.css') }}">
        {% endblock %}
    </head>
    <body>
    {% if is_granted('ROLE_ADMIN') %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-link text-white" href="{{ path('app_admin_achievement_index') }}">Admin</a>
            <a class="nav-link text-white" href="{{ path('app_admin_achievement_index') }}">Gestion des Activités</a>
            <a class="nav-link text-white" href="{{ path('app_admin_category_index') }}">Gestion des Catégories</a>
        </nav>
    {% endif %}
        <nav class="navbar navbar-expand-lg navbar-dark mb-3 {{ (app.user is null) ? 'nav-slim' : '' }}">
            <a href="{{ path('app_achievement_index') }}" class="navbar-brand">Un pas après l'autre</a>
            {% if app.user is not null %}
                <div class="d-flex justify-content-start">
                    {{ render(controller('App\\Controller\\CategoryController::menu')) }}
                </div>
                <div class="ml-auto"></div>
                <div class="d-flex bd-highlight">
                    <a href="{{ path('app_profile_index') }}" class="nav-link text-white bd-highlight">Profil</a>
                    <a href="{{ path('app_settings_index') }}" class="nav-link text-white bd-highlight">Paramètres</a>
                    <a href="{{ path('app_index_logout') }}" class="nav-link text-white bd-highlight">Déconnexion</a>
                </div>
            {% else %}
                <div class="ml-auto"></div>
                <form id="connexion-form" method="post" action="{{ path('app_index_login') }}">
                    <div class="form-row">
                        <div class="col-4">
                            <label for="connexion_pseudo" class="col-form-label-sm">Pseudo</label>
                            <input id="connexion_pseudo" type="text" name="_username" class="form-control form-control-sm"
                                   value="{{ (last_username is defined) ? last_username : '' }}">
                        </div>
                        <div class="col-4">
                            <label for="connexion_password" class="col-form-label-sm">Mot de passe</label>
                            <input id="connexion_password" type="password" name="_password"
                                   class="form-control form-control-sm">
                            <a href="{{ path('app_index_forgottenpassword') }}">Mot de passe oublié</a>
                        </div>

                        <button type="submit" class="btn btn-success">
                            Se connecter
                        </button>

                    </div>
                </form>
            {% endif %}
        </nav>
        <div class="container">
            {# affichage des messages flash #}
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="alert m-2 alert-{{ type == 'error' ? 'danger' : type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                    crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
